<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
  <div class="main-nav">
    <a href="/">主页</a>
    <a href="register">注册</a>
    <a href="login">登录</a>
    <hr>
  </div>
  <div class="login-wrapper">
    <div>
      <input type="text" name="" value="" placeholder="用户名" />
      <input type="password" name="" value="" placeholder="密码" />
    </div>
    <div>
      <button type="">注册</button>
      <a href="message"><button type="">登录</button></a>
    </div>
  </div>
</body>
</html>