<ul class="clearfix nav-wrapper">
  <li class="fl"><a href="/index">主页</a></li>
  <li class="fl"><a href="/log">日志</a></li>
  <li class="fl"><a href="/onenote">说说</a></li>
  <li class="fl"><a href="/msgboard">留言板</a></li>
</ul>